$white: #fff;
$black: #000;
$dark-grey: #2b2b2b;

$red: #f44336;
$green:#4caf50;

$default-font-color: $dark-grey;
$default-background: $white;

$topbar-height: 64px;
$footer-height: 50px;

$breakpoint-tablet: 768px;